@model WebEurostral.Models.EurostralModels

@{
    ViewBag.Title = "DeltaEnt";
}
<!DOCTYPE HTML>

<style>
    table {
        border: solid;
    }

    .cl-effect-15 a {
	    color: #0000ee;
	    font-weight: 700;
	    text-shadow: none;
        text-align:right;
    }

    h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 275px; font-weight: bold; letter-spacing: -1px; line-height: 1; margin: 0 0 20px; text-align: center; }

    h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 10px; text-align: center; }

    h3 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 22px; font-weight: 300; line-height: 28px; margin: 0 0 20px; text-align: center; }
    
    p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }

    .tab {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .tab td, .tab th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .tab tr:nth-child(even){background-color: #f2f2f2;}

    .tab tr:hover {background-color: #ddd;}

    .tab th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #808080;
        color: white;
    }

</style>
<html>
<body>
<div class="jumbotron">
    <h1>Eurostral 100</h1>
</div>
<div class="container">
    <ul class="nav nav-pills">
        <li class="active">@Html.ActionLink("Accueil", "Index", "Home")></li>
    </ul>
</div>

@*<div class="cl-effect-15">
    <div style="float:right"> <a>@Html.ActionLink("Tracking Error", "AffPL")</a>
    </div>
</div>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Valeur du produit :</h2>
        <h3>@ViewData["price"] &#8364;</h3>
        <div id="Info">
            @*<p style="clear:both;text-align:center;font-size:20px;margin-bottom:16px">
                Le prix en t du produit est de : @Model.nb_iterations
            </p>*@
            



            <table id="tableDelta" class="tab table table-striped" style="width:48%; position:relative;float:left">
                <thead>
                    <tr>
                        <th>
                            Acitf
                        </th>

                        <th>
                            Delta
                        </th>
                    </tr>
                </thead>
                @{
                    int i = 0;
                    <tbody id="actionsByDate">
                        @foreach (var item in Model.deltaEnt)
                        {
                            <tr>
                                <td id="nom">

                                    @Html.DisplayFor(Model => Model.nomActifs[i])

                                </td>

                                <td id="valeur">
                                    @Math.Round(item, 4)

                                </td>
                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                }
            </table>

            

            <table id="tablePrix" class="tab table table-striped" style="position:relative; width: 48%;float:right">
                <thead>
                    <tr>
                        <th>
                            Actif
                        </th>
                        <th>
                            Prix en t
                        </th>
                    </tr>
                </thead>
                @{
                    int j = 0;
                    <tbody id="actionsByDate">
                        @foreach (var item in Model.prixActifs)
                        {
                            <tr>
                                <td id="nom">

                                    @Html.DisplayFor(Model => Model.nomActifs[j])

                                </td>

                                <td id="valeur">
                                    @Math.Round(item, 2)
                                </td>
                            </tr>
                            j = j + 1;
                        }
                    </tbody>
                }
            </table>
            </div>
            <hr />
        </div>
                        }
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainerIndices", {
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Indices US-EUR-AUS"
                },
                axisY: {
                    includeZero: false,
                    lineThickness: 1
                },
                data: [{
                    type: "line",
                    dataPoints: @Html.Raw(ViewBag.DataPoints_GSPC)
                    },{
                        type: "line",
                        dataPoints: @Html.Raw(ViewBag.DataPoints_STOXX50E)
                        },{
                            type: "line",
                            dataPoints: @Html.Raw(ViewBag.DataPoints_AXJO)


                            }]
            });
            var startTime = new Date();
            chart.render();
            var endTime = new Date();
            document.getElementById("timeToRender").innerHTML = "Time to Render: " + (endTime - startTime) + "ms";
        }
    </script>
    <style>
        #timeToRender {
            position: absolute;
            top: 10px;
            font-size: 20px;
            font-weight: bold;
            background-color: #d85757;
            padding: 0px 4px;
            color: #ffffff;
        }
    </style>

    <div id="chartContainerIndices" style="height: 370px; width: 100%;"></div>
    <span id="timeToRender"></span>
    <script src="~/Scripts/canvasjs.min.js"></script>
    <div>
        <span>
            @Html.ActionLink("Calculer le prix en t", "PrixEnt", new { area = "" })
        </span>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html> 
