@model WebEurostral.Models.EurostralModels

@{
    ViewBag.Title = "Sous_Jacents";
}""

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

	var chart = new CanvasJS.Chart("chartContainerIndices", {
		zoomEnabled: true,
		animationEnabled: true,
		title: {
			text: "Indices US-EUR-AUS"
		},
		axisY: {
			includeZero: false,
			lineThickness: 1
		},
		data: [{
		    type: "line",
		    dataPoints: @Html.Raw(ViewBag.DataPoints_GSPC),
		    showInLegend:true,
		    name: "GSPC"
		    },{
		        type: "line",
		        dataPoints: @Html.Raw(ViewBag.DataPoints_STOXX50E),
		        showInLegend:true,
		        name: "STOXX50E"
		        },{
		            type: "line",
		            dataPoints: @Html.Raw(ViewBag.DataPoints_AXJO),
		            showInLegend:true,
		            name: "AXJO"


		}]
	});

    var chart2 = new CanvasJS.Chart("chartContainerTaux", {
        zoomEnabled: true,
        animationEnabled: true,
        title: {
            text: "Taux De change"
        },
        axisY: {
            includeZero: false,
            lineThickness: 1
        },
        data: [{
            type: "line",
            showInLegend:true,
            name: "Taux USD/EUR",
            dataPoints: @Html.Raw(ViewBag.DataPoints_EURUSD)
        },{
            type: "line",
            showInLegend:true,
            name: "Taux AUD/EUR",
            dataPoints: @Html.Raw(ViewBag.DataPoints_EURAUD)

        }]
    });

	var startTime = new Date();
	chart.render();
	chart2.render();
	var endTime = new Date();
	document.getElementById("timeToRender").innerHTML = "Time to Render: " + (endTime - startTime) + "ms";

}
    </script>
    <style>
        #timeToRender {
            position: absolute;
            top: 10px;
            font-size: 20px;
            font-weight: bold;
            background-color: #d85757;
            padding: 0px 4px;
            color: #ffffff;
        }
    </style>
    
    
</head>
<body>
    <div class="page-header" id="chartContainerIndices" style="height: 370px; width: 100%;"></div>
    <div class="panel-footer" id="chartContainerTaux" style="height: 370px; width: 100%;"></div>
    
    
    <span id="timeToRender"></span>
    <script src="~/Scripts/canvasjs.min.js"></script>
</body>
</html>       